server:
  port: ${dev-port:80}
spring:
  freemarker:
    expose-request-attributes: true
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: update
    database: postgresql
  datasource:
    initialization-mode: always
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:1}
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost/kcamp}
  mail:
    host: smtp.gmail.com
    username: ostapivkidcamp@gmail.com
    password: Andriyko1998
    port: 465
    properties:
      mail:
        protocol: smtps
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
google:
  apiKey: ${apiKey}
amazonProperties:
  endpointUrl: https://kcamp.s3.eu-north-1.amazonaws.com
  accessKey: ${amazonKey}
  secretKey: ${amazonSecret}
  bucketName: kcamp