upload:
  path: C:\Users\bohdan.tsiupryk\Documents\logs

server:
  port: 8080
spring:
  freemarker:
    expose-request-attributes: true
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: update
  datasource:
    initialization-mode: always
    username: ${SPRING_DATASOURCE_USERNAME:dbuser}
    password: ${SPRING_DATASOURCE_PASSWORD:pass}
    url: ${SPRING_DATASOURCE_URL:jdbc:oracle:thin:@localhost:32769:XE}
    driverClassName: oracle.jdbc.driver.OracleDriver
  mail:
    host: smtp.gmail.com
    username: ostapivkidcamp@gmail.com
    password: Andriyko1998
    port: 465
    properties:
      mail:
        protocol: smtps
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
